@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
@use "../utilities/typography" as *;

//About section, image and quote styling

.about {
    @include flex-align-center;
    flex-direction: column;
    padding: 1rem;
    &__title {
        @include text('AvenirNext LT Pro', 2rem, 600);
        display: flex;
        justify-content: flex-start;
        color: $bandSite-black;
        @include tablet {
            font-size: 2.25rem;
            align-self: flex-start;
            margin-left: 2rem
        }
    }

    &__container {
        @include flex (center, none);
        margin-bottom: 0.5rem;
    }

    &__img {
        max-width: 100%;
        @include tablet {
            max-height: 28rem;
            max-width: 45rem;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include tablet {
            display: flex;
            align-items: flex-start;
            width: 75%;
            margin: 0 auto;
        }

    }

    &__quote, &__quote-author {
        @include text('AvenirNext LT Pro', 1rem, 600);
        line-height: 1.8;
        @include tablet {
            font-size: 1.75rem;
            line-height: 1.5;
        }
    }

    &__quote-author {
        margin: 1rem 0;
        @include tablet {
            font-size: 1.25rem;
            align-self: flex-start;
        }
    }
}

.band-description {
    @include text('AvenirNext LT Pro', 0.8rem, 400);
    line-height: 1.5rem;
    color: $bandSite-black;
    @include tablet {
        @include flex-align-center;
        flex-direction: column;
        margin-top: 2.5rem;
    }
    &__title {
        margin-bottom: 0;
        @include tablet {
            align-self: flex-start;
            margin: 0 0 1rem 7rem;
            font-size: 2rem;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        width: 95%;
        @include tablet {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
    }
    &__p {
        @include tablet {
            width: 36%;
            font-size: 1rem;
            line-height: 1.75;
        }
    }
}