@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
@use "../utilities/typography" as *;

//About section, image and quote styling

.about {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    &__title {
        margin-top: 0.5rem;
        @include text(2rem, 600);
        color: $bandSite-black;

        //tablet breakpoint styling
        @include tablet {
            font-size: 2.25rem;
            align-self: flex-start;
            margin-left: 2rem
        }
    }

    &__container {
        @include flex (center, unset);
        margin-bottom: 0.5rem;
    }

    &__img {
        max-width: 100%;
        @include tablet {
            max-height: 28rem;
            max-width: 45rem;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include tablet {
            display: flex;
            align-items: flex-start;
            width: 75%;
            margin: 0 auto;
        }

    }

    &__quote, &__quote-author {
        @include text(1.1rem, 600);
        line-height: 1.8;
        @include tablet {
            font-size: 1.75rem;
            line-height: 1.5;
        }
    }

    &__quote-author {
        margin: 1rem 0;
        @include tablet {
            font-size: 1.25rem;
            align-self: flex-start;
        }
    }

    //desktop breakpoint styling
    @include desktop {
        margin: 0 13rem;

        &__title {
            margin: 2rem -2rem;
            font-size: 3rem;
        }

        &__img {
            max-height: 100%;
            max-width: 70rem;
        }

        &__box {
            margin: 1rem 0;
        }
    }
}

.band-description {
    @include text(1rem, 100);
    line-height: 1.5rem;
    color: $bandSite-black;

    //tablet breakpoint
    @include tablet {
        @include flex-align-center;
        flex-direction: column;
        margin-top: 2.5rem;
    }
    &__title {
        margin-bottom: 0;
        font-weight: 100;
        @include tablet {
            align-self: flex-start;
            margin: 0 0 1rem 7rem;
            font-size: 2rem;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        width: 95%;
        @include tablet {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
    }
    &__content {
        font-size: 1.1rem;
        @include tablet {
            width: 36%;
            font-size: 1.2rem;
            line-height: 1.75;
        }
    }
    //desktop breakpoint
    @include desktop {
        &__title {
            margin: 1rem 0;
        }

        &__container {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__content {
            margin-right: 2rem;
            width: 43%;
        }
    }
}