@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
@use "../utilities/typography" as *;

.comment-section {
    margin: 1rem;
    font-family: $mainFont;

    &__avi {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 1rem;
    }
    &__avi-img {
        width: 5.5rem;
        height: auto;
        margin-left: -9px;
        margin-top: -5px;
    }

    &__form-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        width: 100%;

        &--name-field {
            margin: 0.5rem;
            padding: 0.5rem;
            width: 100%;
        }

        &--comment-field {
            width: 100%;
            height: 5rem;
            margin: 0.5rem;
        }
    }

    &__list {
        list-style: none;
    }

    .comment-section__comment--date-time{
        display: flex;
        justify-content: space-between;
    }
}

