@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
@use "../utilities/typography" as *;

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    background-color: $bandSite-black;
    color: white;
    @include text('AvenirNext LT Pro', 1rem, 400);
}