@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
@use "../utilities/typography";

.header {
    background-color: $bandSite-black;
}


.title-container {
    @include flexCenter;
    &__title {
        font-family: 'AvenirNext LT Pro';
        text-transform: uppercase;
        }
    &__link {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
}

//navigation styles

.nav {
    &__list {
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        list-style: none;
        padding-bottom: 1rem;
    }
    &__link {
        font-family: 'AvenirNext LT Pro';
        font-size: 1rem;
        text-decoration: none;
        color: white;
    }

}
