@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
@use "../utilities/typography" as *;

.hero {
    @include flex(flex-start, center);
    background-image: url(../../../../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 37vh;  
    @include tablet {
      min-height: 75vh;
      max-height: 83vh;
    }

    &__heading {
        font-family: 'AvenirNext LT Pro';
        font-size: 2rem;
        font-weight: 00;
        color: white;
        padding-left: 1.5rem;
        @include tablet {
            font-size: 3.75rem;
        }
    }
  
  }