@mixin mobile {
    @media (min-width: 320px) and (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width:$breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (max-width:$breakpoint-desktop) {
        @content;
    }
}


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

