//breakpoint variables
$breakpoint-mobile: 768px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// color variables

//primary colors
$bandSite-black: #323232;
$silver: #AFAFAF;
//secondary color
$bandSite-dark-black: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

