@font-face {
  font-family: "AvenirNext LT Pro";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("AvenirNextLTPro-Regular.woff2") format("woff2"), url("AvenirNextLTPro-Regular.woff") format("woff"), url(../../assets/Font/ttf/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext LT Pro";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url(../../assets/Font/ttf/AvenirNextLTProBold.ttf) format("truetype"), url("AvenirNextLTPro-Bold.woff2") format("woff2"), url("AvenirNextLTPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "AvenirNext LT Pro";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url(../../assets/Font/ttf/AvenirNextLTProDemi.ttf) format("truetype"), url("AvenirNextLTPro-Demi.woff2") format("woff2"), url("AvenirNextLTPro-Demi.woff") format("woff");
}
.header {
  background-color: #323232;
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.header__link {
  text-decoration: none;
}
.header__logo {
  height: 1.5rem;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 2rem 5rem;
  }
}

.nav__list {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-bottom: 1rem;
  margin: 0;
  list-style: none;
}
.nav__link {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}
.nav a:hover {
  border-bottom: 3px solid white;
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    width: 50%;
  }
  .nav__list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 0;
  }
  .nav a:hover {
    padding-bottom: 41px;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    width: 40%;
  }
  .nav__link {
    font-size: 1.25rem;
  }
  .nav a:hover {
    padding-bottom: 54px;
  }
}

.hero {
  background-image: url(../../../../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 37vh;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    min-height: 75vh;
    max-height: 83vh;
  }
}
.hero__overlay {
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero__heading {
  display: flex;
  align-items: center;
  height: 95%;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  padding-left: 1.5rem;
}
@media (min-width: 768px) {
  .hero__heading {
    font-size: 3.75rem;
    margin-left: 2.3rem;
    height: 80%;
  }
}
@media (min-width: 1280px) {
  .hero {
    min-height: 58vh;
    max-height: 60vh;
  }
  .hero__heading {
    font-size: 5rem;
    margin-left: 8rem;
    word-spacing: 0.7rem;
    height: 80%;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}
.about__title {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    align-self: flex-start;
    margin-left: 2rem;
  }
}
.about__container {
  display: flex;
  justify-content: center;
  align-items: unset;
  margin-bottom: 0.5rem;
}
.about__img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .about__img {
    max-height: 28rem;
    max-width: 45rem;
  }
}
.about__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .about__box {
    display: flex;
    align-items: flex-start;
    width: 75%;
    margin: 0 auto;
  }
}
.about__quote, .about__quote-author {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.8;
}
@media (min-width: 768px) {
  .about__quote, .about__quote-author {
    font-size: 1.75rem;
    line-height: 1.5;
  }
}
.about__quote-author {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .about__quote-author {
    font-size: 1.25rem;
    align-self: flex-start;
  }
}
@media (min-width: 1280px) {
  .about {
    margin: 0 13rem;
  }
  .about__title {
    margin: 2rem -2rem;
    font-size: 3rem;
  }
  .about__img {
    max-height: 100%;
    max-width: 70rem;
  }
  .about__box {
    margin: 1rem 0;
    max-width: 70rem;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .about .band-description {
    max-width: 70rem;
    margin: 0 auto;
  }
  .about .band-description__title {
    font-weight: 600;
  }
}

.band-description {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  color: #323232;
}
@media (min-width: 768px) {
  .band-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
  }
}
.band-description__title {
  margin-bottom: 0;
  font-weight: 100;
}
@media (min-width: 768px) {
  .band-description__title {
    align-self: flex-start;
    margin: 0 0 1rem 7rem;
    font-size: 2rem;
  }
}
.band-description__container {
  display: flex;
  flex-direction: column;
  width: 95%;
}
@media (min-width: 768px) {
  .band-description__container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) {
  .band-description__content {
    width: 36%;
    font-size: 1.2rem;
    line-height: 1.75;
  }
}
@media (min-width: 1280px) {
  .band-description__title {
    margin: 1rem 0;
  }
  .band-description__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .band-description__content {
    margin-right: 2rem;
    width: 43%;
  }
}

.gallery {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #323232;
  padding: 1rem;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    margin-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    font-size: 3rem;
    margin-left: 7rem;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .gallery__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.gallery__item {
  max-width: 100%;
  max-height: 12rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .gallery__item {
    width: 29%;
    margin: 1rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 2rem 5rem;
  }
  .gallery__item {
    max-height: 17rem;
    max-width: 27%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  background-color: #323232;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.footer__title {
  font-size: 2rem;
}
.footer__socials {
  display: flex;
  flex-direction: row;
}
.footer__socials-link {
  margin-right: 3rem;
}
.footer__socials-icon {
  height: 2rem;
}
.footer__logo {
  height: 1.5rem;
  margin-top: 5rem;
}
.footer__copyright {
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
  }
  .footer__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
  }
  .footer__title {
    font-size: 2.5rem;
  }
  .footer__contact-container {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
  }
  .footer__logo {
    position: absolute;
    right: 10rem;
    top: 0rem;
  }
  .footer__copyright {
    margin: 2rem 0;
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 10rem;
  }
}

.comment-section {
  margin: 1rem;
}
.comment-section__header {
  font-size: 2rem;
  margin-left: 0.5rem;
}
.comment-section__avi {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 1.3rem;
}
.comment-section__avi-img {
  width: 5.5rem;
  height: auto;
  margin-left: -9px;
  margin-top: -10px;
}
.comment-section__form-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding-bottom: 1rem;
  border-bottom: 2px solid #E1E1E1;
}
.comment-section__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 75%;
  margin-left: 0.5rem;
}
.comment-section__form--name-title, .comment-section__form--comment-title {
  font-size: 0.8rem;
  color: #AFAFAF;
  font-weight: 600;
}
.comment-section__form--name-field {
  margin: 0.5rem 0 1.2rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  background-color: #fafafa;
}
.comment-section__form--name-field:active {
  border: 1px solid #323232;
}
.comment-section__form--comment-field {
  width: 100%;
  height: 5rem;
  margin: 0.5rem 0 1.2rem;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  background-color: #fafafa;
}
.comment-section__btn-container {
  width: 100%;
  padding-bottom: 0.5rem;
}
.comment-section__btn {
  font-family: "AvenirNext LT Pro";
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 1rem;
  background-color: #323232;
  border: none;
  border-radius: 4px;
  width: 100%;
}
.comment-section__list {
  list-style: none;
  padding: 0;
}
.comment-section__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  border-bottom: 2px solid #E1E1E1;
  margin-bottom: 1rem;
}
.comment-section__comment {
  border-bottom: 2px #E1E1E1;
  margin: 0 1rem;
  width: 100%;
}
.comment-section__avi-container {
  background: #E1E1E1;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding-left: 45px;
}
.comment-section__name {
  margin-top: 0;
}
.comment-section__date {
  margin-top: 0;
  color: #AFAFAF;
}
.comment-section__txt {
  margin-top: 0;
  line-height: 1.5;
}
.comment-section .comment-section__comment--date-time {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .comment-section {
    margin: 3rem auto 2rem;
    width: 80%;
  }
  .comment-section__header {
    font-size: 3rem;
  }
  .comment-section__avi {
    width: 48px;
    height: 48px;
  }
  .comment-section__btn-container {
    display: flex;
    justify-content: flex-end;
  }
  .comment-section__btn {
    width: 40%;
    margin: 1rem 0;
  }
  .comment-section__form--name-title, .comment-section__form--comment-title {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .comment-section__form--name-title, .comment-section__form--comment-title {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .comment-section__form--name-field {
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .comment-section__form--name-field {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) {
  .comment-section__form--comment-field {
    height: 7rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .comment-section__form--comment-field {
    height: 10rem;
  }
}
@media (min-width: 768px) {
  .comment-section__form__comment {
    padding: 1rem 0;
  }
}
@media (min-width: 1280px) {
  .comment-section {
    max-width: 70%;
  }
  .comment-section__avi {
    width: 60px;
    height: 60px;
  }
  .comment-section__avi-img {
    margin-top: 1px;
  }
  .comment-section__btn {
    width: 38%;
    font-size: 1.25rem;
  }
  .comment-section__list-container {
    max-width: 42rem;
    margin: 0 auto;
  }
  .comment-section__form-container {
    max-width: 42rem;
    margin: 0 auto;
  }
  .comment-section__form {
    width: 100%;
  }
  .comment-section__item {
    padding: 1rem;
  }
  .comment-section__txt {
    font-size: 1.2rem;
  }
  .comment-section__avi-container {
    width: 60px;
    height: 60px;
    padding-left: 50px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "AvenirNext LT Pro";
}/*# sourceMappingURL=bio.css.map */