@use "./scss/partials/utilities/mixins" as *;
@use "./scss/partials/utilities/variables" as *;
@use "./scss/partials/layout/header";
@use "./scss/partials/layout/footer";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.shows-hero {
    background-image: url(../assets/Images/hero-shows.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 65vh;  
    position: relative;

    //to align the soundcloud iframe 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    &__overlay {
      background-color: rgba($color:$bandSite-black, $alpha: 0.5);
      position:absolute;
      width: 100%;
      height: 100%;
      padding: 2rem;
  }

    &__text {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
  
    &__sub-heading {
        margin: 0;
        @include text('AvenirNext LT Pro', 1rem, 400);
        color: white;
        margin-bottom: 1rem;
    }

    &__heading {
      margin: 0;
      @include text('AvenirNext LT Pro', 2rem, 600);
      color: white;
      line-height: 1.5;
    }

    &__soundcloud {
        min-width: 15rem;
        max-width: 20rem;
        padding-bottom: 2rem;
    }

  @include tablet {
    min-height: 80vh;
    max-height: 83vh;

    &__overlay {
        padding: 2rem;
    }

    &__heading {
        font-size: 3.75rem;
    }

    &__sub-heading {
        font-size: 2rem;
    }

    &__soundcloud {
        position: absolute;
        left: 2.5rem;
    }

    }
  }

  .shows-list {
    padding: 1.5rem;
    &__title{
    @include text('AvenirNext LT Pro', 3rem, 600);
    color: black ;
  }
}

  .shows-card {
        border-bottom: 2px solid $mercury;
        margin-bottom: 1rem;
      &__description {
        margin-bottom: 2rem;
      }
      &__sub-heading {
        @include text('AvenirNext LT Pro', 0.9rem, 600);
        color: $silver;
        margin: 0;
      }
      &__detail {
        @include text('AvenirNext LT Pro', 1rem, 400);
        color: black;
      }

      &__cta {
        @include text('AvenirNext LT Pro', 1.25rem, 600);
        background-color:$bandSite-black;
        padding: 1rem;
        color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
      }
  }
